# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
 - List popular languages for Data Science
 - Commonly Used Libraries
 - Data Science Tools Used

### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
 ---
| RStudio | 
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers. 

(3*4)+5

17

In [4]:
# his will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Joshua P. Duffy